@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.portfolioModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  &__content {
    position: absolute;
    width: 100%;
    top: 45%;

    // Small devices
    @media only screen and (max-width: 568px) {
      top: 48%;
    }
    // Small devices
    @media only screen and (max-width: 320px) {
      top: 50%;
    }
    // Small devices
    @media only screen and (max-height: 768px) {
      top: 50%;
    }
  }
}
