@import '@/styles/mixins.scss';

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  * {
    color: white;
  }

  h1,
  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

#container {
  width: 100%;
  @include column-flex-center;
  padding-top: 110px;
  padding-bottom: 50px;
}
