@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.container {
}

.mentions {
  @include column-flex-center;
  width: 75%;

  &__clause {
    padding: 30px 15px 30px 35px;
    transition: all ease-in 0.1s;
    border-left: 1px solid rgba(255, 255, 255, 0);

    p {
      line-height: 1.5em;
      margin-bottom: 0;
    }
    a:hover {
      opacity: 0.9;
    }

    &:hover {
      background-color: darken($app-color, 1.5%);
      border-radius: 0.5em;
    }
  }
}

// Large devices
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mentions {
    width: 100%;
  }
}

// Small & Medium devices
@media only screen and (max-width: 992px) {
  .mentions {
    width: 100%;

    &__clause {
      padding: 20px 0;

      &:hover {
        background: transparent;
        border: none;
        margin: 0;
      }
    }
  }
}
