@mixin row-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin column-flex-center {
  @include row-flex-center;
  flex-direction: column;
}

@mixin transparent-button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
}

@mixin button {
  background-color: darken($app-color, 3%);
  font-size: 1.1em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 10px 8px 10px;
  border-radius: 0.3em;
  &:hover {
    transition: all ease-in-out 0.2s;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: darken($app-color, 7%);
  }
}
