@mixin row-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin column-flex-center {
  @include row-flex-center;
  flex-direction: column;
}

@mixin transparent-button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
}
