@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

#container {
}

.home {
  @include column-flex-center;
  width: 68%;

  &__intro {
    display: flex;
    justify-content: space-between;
  }
  &__intro-photo {
    width: 35%;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      border-radius: 200px 200px 0 0;
      object-fit: cover;
    }
  }
  &__intro-text {
    width: 60%;
    margin-top: 15px;

    h2 {
      line-height: 2.25vw;
      font-size: 1.63vw;
    }
    p {
      margin: 12px 0;
      line-height: 1.9vw;
      font-size: 1.2vw;
    }
  }
  &__discover {
    margin-top: 35px;
  }
}

// Large devices
@media only screen and (min-width: 992px) and (max-width: 1500px) {
  .home {
    width: 90%;
    &__intro-text {
      margin-top: 10px;

      h2 {
        line-height: 3.05vw;
        font-size: 2.2vw;
      }
      p {
        margin: 20px 0;
        line-height: 2.7vw;
        font-size: 1.8vw;
      }
    }
  }
}

// Medium & Large devices
@media only screen and (min-width: 768px) {
  .home {
    &__intro-photo {
      border-bottom: 3px solid rgb(212, 212, 212);
    }
  }
}

// Medium & Small devices
@media only screen and (max-width: 992px) {
  .home {
    width: 100%;
  }
}

// Medium devices
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .home {
    &__intro-text {
      margin-top: 5px;

      h2 {
        line-height: 3.8vw;
        font-size: 2.7vw;
      }
      p {
        margin: 15px 0;
        line-height: 3.5vw;
        font-size: 2.4vw;
      }
    }
  }
}

// Small devices
@media only screen and (max-width: 768px) {
  .home {
    &__intro {
      @include column-flex-center;
    }
    &__intro-photo {
      img {
        border-radius: 75px 75px 0 0;
      }
    }
    &__intro-text {
      margin-top: 0;
      h1 {
        background-color: darken($app-color, 4%);
        padding: 20px;
      }
      p {
        margin: 0;
        background-color: darken($app-color, 1%);
        padding: 20px;
      }
    }
  }
}

// Small devices
@media only screen and (min-width: 568px) and (max-width: 768px) {
  .home {
    &__intro-text,
    &__intro-photo {
      width: 90%;
    }
    &__intro-photo {
      height: 400px;
    }
    &__intro-text {
      h1 {
        line-height: 5.4vw;
        font-size: 3.7vw;
      }
      p {
        line-height: 5vw;
        font-size: 3.3vw;
      }
    }
  }
}

// Small devices
@media only screen and (max-width: 568px) {
  .home {
    &__intro-text,
    &__intro-photo {
      width: 100%;
    }
    &__intro-photo {
      height: 300px;
    }
    &__intro-text {
      h1 {
        line-height: 8vw;
        font-size: 5.6vw;
      }
      p {
        line-height: 7.5vw;
        font-size: 4.7vw;
      }
    }
  }
}
