@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.footer {
  @include row-flex-center;
  background-color: darken($app-color, 8%);
  width: 100%;
  padding: 10px 0 8px 0;
  justify-content: space-around;

  a {
    font-size: 1.1em;
    &:hover {
      opacity: 0.9;
    }
  }

  &__email {
  }

  &__mentions {
  }

  &__social {
    @include row-flex-center;
    padding: 0;

    li {
      margin: 0 6px;
      list-style-type: none;
    }
  }
}

// Small devices
@media only screen and (max-width: 768px) {
  .footer {
    @include column-flex-center;
    flex-direction: column-reverse;

    a {
      font-size: 1.05em;
    }

    &__email,
    &__mentions {
      padding: 10px 0;
    }

    &__email {
      order: 1;
    }
  }
}
