@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.footer {
  @include row-flex-center;
  width: 100%;
  background-color: darken($app-color, 8%);
  padding: 20px 0 15px 0;

  &__containers {
    @include row-flex-center;
    width: 90%;
  }

  &__container {
    width: 33.33%;
    a {
      font-size: 1.1em;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &__email {
    display: flex;
    align-items: center;
  }

  &__mentions {
    @include row-flex-center;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    li {
      margin: 0 6px;
      list-style-type: none;
    }
  }
}

// Small devices
@media only screen and (max-width: 992px) {
  .footer {
    &__containers {
      @include column-flex-center;
      flex-direction: column-reverse;
    }

    &__container {
      width: 100%;
      justify-content: center;
      a {
        font-size: 1.05em;
      }
    }

    &__social {
      padding: 25px 0;
    }

    &__email {
      order: 1;
    }
  }
}

// Small devices
@media only screen and (max-width: 568px) {
  .footer__container a {
    font-size: 0.95em;
  }
}
