@import '@/styles/mixins.scss';

.container {
}

.contact {
  &__form {
    form {
      display: flex;
      flex-direction: column;
      label {
        margin: 10px 0;

        * {
          color: black !important;
        }
      }
      input[type='submit'] {
        @include button;
      }
    }
  }
}
