@import '@/styles/mixins.scss';

.copy-to-clipboard {
  padding-bottom: 4px;

  &__copy-button {
    button {
      @include transparent-button;
      @include column-flex-center;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }
  }
  &__copied-icon {
    @include column-flex-center;
  }
}
