@import '@/styles/variables.scss';

@mixin row-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin column-flex-center {
  @include row-flex-center;
  flex-direction: column;
}

@mixin transparent-button {
  border: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
}

@mixin button {
  background-color: darken($app-color, 3%);
  font-size: 1.1em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 10px 8px 10px;
  border-radius: 0.3em;
  &:hover {
    transition: all ease-in-out 0.2s;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: darken($app-color, 7%);
  }

  // Small devices
  @media only screen and (max-width: 568px) {
    font-size: 1em;
  }
}

@mixin input-text {
  font-family: Arial, Helvetica, sans-serif;
  color: black !important;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 0.2em;
  outline: none;
  padding: 8px 10px;
  &:focus {
    transition: all 0.1s ease-in-out;
    border-color: darken($app-color, 7%);
  }

  // Medium devices
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    padding: 7px 9px;
  }
  // Small devices
  @media only screen and (min-width: 568px) and (max-width: 768px) {
    padding: 6px 7px;
  }
  // Small devices
  @media only screen and (max-width: 568px) {
    padding: 4px 5px;
  }
}
