@import '@/styles/mixins.scss';

.content {
  &__home {
    a {
      @include row-flex-center;
      transition: margin-left 0.1s ease-out;
      font-size: 1.2em;

      svg {
        margin: 0 0 2px 2px;
      }

      &:hover {
        margin-left: 10px;
        opacity: 0.9;
      }
    }
  }
}
